@black: #000;
@white: #fff;
@blue: #00f;

body {
	font-family: sans-serif;
}

header {
	background: @black;
	color: @white;
	nav {
		a {
			color: @white;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

main {
	h1 {
		font-size: 26px;
		font-weight: bold;
	}

	h2 {
		font-size: 24px;
	}

	a {
		color: @blue;
	}

	p {
		font-size: 18px;
		line-height: 24px;
		text-align: justify;
	}

	.comments {
		border-top: solid 1px @black;
	}
}
