header {
	overflow: hidden;
	padding: @padding 0;

	background: @light-blue;
	color: @white;
	border-bottom: solid 3px @dark-blue;

	.content {
		width: @body-width;
		margin: 0 auto;
	}

	a {
		color: @white;
		text-decoration: none;
		text-shadow: 2px 2px @dark-blue;
		&:hover {
			text-decoration: underline;
		}
	}

	nav {
		overflow: hidden;
		float: right;

		li {
			float: left;
			margin-right: @padding * 2;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
