main {
	max-width: @body-width;
	margin: 0 auto;
	padding: 0 20px;

	h1, h2 {
		text-shadow: 2px 2px @tan;
	}

	h1, h2, p {
		margin: @padding 0;
	}

	img {
		display: block;
		margin: 0 auto;
	}

	h1 {
		font-size: 26px;
		font-weight: bold;
	}

	h2 {
		font-size: 24px;
	}

	a {
		color: @dark-blue;
		text-decoration: underline;
		font-weight: bold;
	}

	p {
		font-size: 18px;
		line-height: 24px;
		text-align: justify;
	}

	em {
		font-style: italic;
	}

	strong {
		font-weight: bold;
	}

	ul {
		list-style: circle outside;
		margin-left: 40px;
		li {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: @padding;
		}
	}

	pre {
		background: @tan;
		padding: @padding / 2;
		margin: 0 @padding;
	}

	code {
		font-family: monospace;
		font-size: 18px;
		color: @dark-blue;
		line-height: 24px;
	}
}
