@import "reset";
@import "sizes";

body {
	font-size: 20px;
	line-height: 28px;
	padding: @padding;
}

.page-main {
	width: @content-width;
	margin: 0 auto;
	padding: @padding;
}

p {
	margin: @padding 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.before {
	float: left;
	margin-right: @padding;
}

.after {
	float: right;
	margin-left: @padding;
}
