.article {
	.date {
		color: @light-green;
		font-size: 14px;
		display: inline-block;
		margin: 0 @padding 0 0;
	}
	.tags {
		display: inline-block;
		list-style: none;
		margin: 0;
		li {
			display: inline-block;
			margin: 0 (@padding / 2) 0 0;
			font-size: 12px;
		}
		a {
			color: @light-green;
		}
	}
}
