@white: #ffffff;
@black: #000000;
@blue: #006ab4;
@blue-light: #27badb;
@blue-dark: #202040;
@gray-light: #c8c8c8;
@gray-dark: #707070;

@tan: #d1dbbd;
@light-green: #91aa9d;
@light-blue: #3e606f;
@dark-blue: #193441;
