// Sizes
@body-width: 700px;
@padding: 20px;

body {
	color: @black;
	background-color: @white;
	font-family: sans-serif;
}

hr {
	border: 0;
	height: 2px;
	margin: (@padding * 2) 0;
	background: @gray-light;
}
