header
	div.content
		a.home(href="/")
			img(src="/media/images/geoff-face.png" width="44" height="44")
			span Geoff Blair
		nav
			ul
				li: a(href="/about") About
				li: a(href="/resume") Resume
