head
	meta(charset="utf-8")
	meta(name="description", content=description)
	meta(name="keywords", content=keywords)
	title=title
	link(href="/media/stylesheets/combo.css", rel="stylesheet", type="text/css")
