---
title: Posts
keywords: Geoff Blair, indie, games, gamedev, game developer, Lost Decade Games, LDG, blog
description: Read Geoff's blog for articles about independent game development, running a small business, his travels, and interests.
collectionKey: post
layout: base.njk
---
{% from "macros.njk" import postList with context %}

<h1>Posts</h1>

<p>Keep up with the latest posts by <a href="/subscribe/">subscribing</a>.</p>

{{ postList("post") }}
