---
title: Home
keywords: Geoff Blair, indie, games, gamedev, game developer, Lost Decade Games, LDG, blog
description: Read Geoff's blog for articles about independent game development, running a small business, his travels, and interests.
collectionKey: feature
layout: base.njk
---
{% from "macros.njk" import postList with context %}

<h1>Hi, I'm Geoff</h1>

<p>I'm a <a href="/games/">game developer</a> (sometimes indie, sometimes not), focused on web technologies.</p>

<p>I'm currently working on <a href="https://www.platoapp.com">Plato</a>, a messenger + games app.</p>

<p>I <a href="/blog/">occasionally write</a> about game development, traveling, and other topics.</p>

<p>Find out more <a href="/about/">about me</a>.</p>

<h2>Featured Posts</h2>

{{ postList("feature", 5) }}

<h2>Recent Posts</h2>

{{ postList("post", 5) }}
