extends ./base.jade

block content
	- var articleDate = new Date(date);
	- var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
	- var month = monthNames[articleDate.getMonth()];
	- var displayDate = month + " " + articleDate.getDate() + ", " + articleDate.getFullYear();
	main.article
		h1=title
		p.date=displayDate
		ul.tags
			each tag in tags
				li: a(href="/tags/" + tag + "/") #{tag}
		div!=contents
	include includes/comments
