extends ./base.jade

block content
	main
		div!=contents
			ul.article-list
				each post in collections[collectionKey]
					- var date = new Date(post.date);
					- var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
					- var month = monthNames[date.getMonth()];
					li
						a(href="/" + post.path)= post.title
						span.date=month + " " + date.getDate() + ", " + date.getFullYear()
