extends ./base

append stylesheets
	link(href="/media/stylesheets/prism.css", rel="stylesheet", type="text/css")

block content
	- var articleDate = new Date(date);
	- var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
	- var month = monthNames[articleDate.getMonth()];
	- var displayDate = month + " " + articleDate.getDate() + ", " + articleDate.getFullYear();
	main.article
		h1=title
		p.date=displayDate
		//- ul.tags
		//- 	each tag in tags
		//- 		li=tag
		div!=content

append scripts
	script(src="/media/scripts/prism.js")
