<!doctype html>
<html lang="en">
	<head>
		{% block page_meta %}
		{# Core metadata #}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ description }}">
		<meta name="keywords" content="{{ keywords }}">
		<title>{{ title }}</title>

		{# TODO: Add RSS feed link #}

		{# Open Graph metadata #}
		<meta property="og:site_name" content="{{ site.name }}">
		<meta property="og:url" content="{{ site.url }}{{ page.url }}">
		<meta property="og:type" content="{{ og_type or "website" }}">
		<meta property="og:title" content="{{ title }}">
		<meta property="og:description" content="{{ description }}">
		{% if image %}
		<meta property="og:image" content="{{ site.url }}{{ image }}">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		{% endif %}

		{# Stylesheets #}
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		{% endblock %}
	</head>
	<body>
		{# Header #}
		<header>
			<nav>
				<ul>
					{% for nav in site.navigation %}
					<li><a href="{{ nav.url }}">{{ nav.label }}</a></li>
					{% endfor %}
				</ul>
			</nav>
		</header>

		{# Main #}
		<main>
			{% block page_main %}
			{{ content | safe }}
			{% endblock %}
		</main>

		{# Footer #}
		<footer>
			© Geoff Blair
		</footer>
	</body>
</html>
