{% macro postList(collectionKey, count) %}
{% set posts = collections[collectionKey].slice().reverse() %}
<ul>
	{% for post in posts %}
	{% if count === undefined or loop.index <= count %}
	<li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
	{% endif %}
	{% endfor %}
</ul>
{% endmacro %}
