<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="Geoff, Blair, Geoff Blair, Geoffrey Blair, javascript, html5, games, web developer, game developer">
	<meta name="description" content="Your one-stop shop for all things Geoff Blair.">
	<meta name="author" content="Geoff Blair">
	<title>Geoff Blair - {{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/media/css/combo.css">
</head>
<body>

	<div class="page-main">
		{{ content }}
	</div>

	{{ % include ga.html }}
</body>
</html>
